@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap')
	;

body {
	font-family: 'Nanum Gothic', sans-serif;
}

/* Reset CSS
 * --------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

table {
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

/* Reset CSS
 * --------------------------------------- */

/* header footer start
 * --------------------------------------- */
header {
	width: 100vw;
	height: 60px;
	background-color: #eeeff5;
	z-index: 100;
}

.header-con {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

header .logo {
	width: 250px;
	height: 60px;
	height: 60px;
}

header .login {
	width: 60px;
	height: 60px;
	position: relative;
}

header .login img {
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .welcome {
	height: 60px;
}

header .welcome p {
	font-size: 12px;
	line-height: 60px;
	color: #454d55;
}





/* 마이페이지 팝업 시작
 * --------------------------------------- */
.mypage_pop p{
	text-align: center;
}

.mypage_pop {
    display:none;
    position: fixed;
    left: 62%;
    top: 15px;
    padding:50px;
    background-color: #eeeff5;
    border-radius: 20px;
    z-index: 20000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.mypage_pop .fa-times-circle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.search_input {
    display: flex;
    margin-top: 60px;
}

.search_input .fa-search,
.mypage_pop input {
    font-size: 18px;
    line-height: 40px;
}

.mypage_pop input {
    background-color: #050437;
    border: none;
    width: 300px;
    color: #ff88ff;
    padding-left: 50px;
}

.underline {
    display: block;
    height: 3px;
    background: radial-gradient(#454d55 10%, transparent 70%);
}

.mypage_pop input:focus {
    outline: none;
}

.mypage_btn {
    margin-top: 30px;
    width: 300px;
    height: 130px;
    justify-content: right;
}


.mypage_btn .tag_button {
    background-color: #454d55;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    margin: 10px 0;
}


.mypage_btn .tag_button p {
    display:block;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    color: #fff;
}
.mypage_btn .tag_button p a {
    color: #fff;
}




/* 마이페이지 팝업 끝
 * --------------------------------------- */

footer {
	background-color: #454d55;
	margin-top: 100px;
	width: 100vw;
	padding: 50px 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}

/* header footer end
 * --------------------------------------- */