/* main-sub-css */


/* color:#857BAB */
.container {
  width: 100%;
  min-height: 1000px;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.form {
  width: 100%;
  position: relative;
}

.form h2 {
  text-align: center;
  padding-bottom: 10px;
  margin: 80px auto 20px;
  line-height: 60px;
}

/* CLEARFIX */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* FORM */
.form .plan input, .form .payment-plan input, .form .payment-type input
  {
  display: none;
}

.form .plan input:checked+label:after, 
form .payment-plan input:checked+label:after,
  .form .payment-type input:checked+label:after {
  content: "\002B";
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: #6359ee;
  z-index: 999;
  position: absolute;
  top: -5px;
  right: -5px;
}

.submit {
  padding: 15px 60px;
  float: right;
  border: none;
  border-radius: 30px;
  margin: 50px 50px 50px 0px;
  background-color: #9599af;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.submit:hover {
  cursor: pointer;
  transform: translateX(20px);
  background-color: #948cb3;
}

.check_con {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.check_Box {
  text-align: center;
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 4px solid white;
  cursor: pointer;
  transition: 1s;
}

.check_Box::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
  border-radius: 15px;
  border: 4px solid white;
}

.form .plan input:checked+label::before, 
.form .payment-plan input:checked+label::before,
  .form .payment-type input:checked+label::before {
  opacity: 0;
  transition: .5s;
  border: 2px solid rgb(128, 82, 121);
}

.keyword {
  z-index:200;
  position:absolute;
  color: #fff;
  width: 300px;
  line-height: 150px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.box01 {
  background-image: url(../img/main/main_01_RnB.jpg);
}

.box02 {
  background-image: url(../img/main/main_02_Rock.jpg);
}

.box03 {
  background-image: url(../img/main/main_03_hiphop.jpg);
}

.box04 {
  background-image: url(../img/main/main_04_ballad.jpg);
}

.box05 {
  background-image: url(../img/main/main_05_indie.jpg);
}

.box06 {
  background-image: url(../img/main/main_06_pop.jpg);
}

.box07 {
  background-image: url(../img/main/main_07_yusanso.jpg);
}

.box08 {
  background-image: url(../img/main/main_08_musanso.jpg);
}

.box09 {
  background-image: url(../img/main/main_09_AM02.jpg);
}

.box10 {
  background-image: url(../img/main/main_10_bulgum.jpg);
}

.box11 {
  background-image: url(../img/main/main_11_way-go-home.jpg);
}

.box12 {
  background-image: url(../img/main/main_12_drive.jpg);
}

.box13 {
  background-image: url(../img/main/main_13_travel.jpg);
}

.box14 {
  background-image: url(../img/main/main_14_post-apoca.jpg);
}

.box15 {
  background-image: url(../img/main/main_15_alone.jpg);
}

.box16 {
  background-image: url(../img/main/main_16_sad.jpg);
}

.box17 {
  background-image: url(../img/main/main_17_flutter.jpg);
}

.box18 {
  background-image: url(../img/main/main_18_angry.jpg);
}

.box19 {
  background-image: url(../img/main/main_19_happy.jpg);
}

.box20 {
  background-image: url(../img/main/main_20_rainy.jpg);
}

.box21 {
  background-image: url(../img/main/main_21_snow.jpg);
}

.box22 {
  background-image: url(../img/main/main_22_sunny.jpg);
}

.box23 {
  background-image: url(../img/main/main_23_cloudy.jpg);
}

.box24 {
  background-image: url(../img/main/main_24_hit.jpg);
}

.box25 {
  background-image: url(../img/main/main_25_popular.jpg);
}

.box26 {
  background-image: url(../img/main/main_26_cult.jpg);
}

.box27 {
  background-image: url(../img/main/main_27_love.jpg);
}

.box28 {
  background-image: url(../img/main/main_28_nolove.jpg);
}

.box29 {
  background-image: url(../img/main/main_29_confidence.jpg);
}

.box30 {
  background-image: url(../img/main/main_30_s_Anger.jpg);
}

.box31 {
  background-image: url(../img/main/main_31_korea.jpg);
}

.box32 {
  background-image: url(../img/main/main_32_japan.jpg);
}

.box33 {
  background-image: url(../img/main/main_33_other.jpg);
}

.go-result, .clear {
  border: none;
  width: 130px;
  padding: 10px 20px;
  margin-left: 100%;
  transform: translateX(-100%);
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.go-result {
  background-color: #454d55;
  color: #fff;
  margin-top:30px;
}

.go-result:hover {
  background-color: #eeeff5;
  color: black;
}

.clear {
  background-color: #eeeff5;
  color: black;
  margin-top: 15px;
}

.clear:hover {
  background-color: #454d55;
  color: #fff;
}

/* 서브(결과리스트) */
.youtube {
  text-align: center;
}

.panel-faq-title {
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.panel-faq-answer {
  width: 100%;
  height: 0;
  overflow: hidden;
  /* 변화가 시작되는 쪽에다가 transition 적용해준다 0 -> 300px 
    왜? 닫기 버튼을 누를 때 변화가 티남 */
  transition: all 1s;
}

.panel-faq-answer img {
  display: flex;
  margin: 30px auto 0px;
}

#btn-all-close {
  margin-bottom: 10px;
  background-color: #726996;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  float: right;
}

#btn-all-close:hover {
  background-color: yellow;
  color: #000;
  transition: all 0.35s;
}

.active {
  display: block;
  /* 높이를 정해줘야지만 transition이 적용됨 */
  height: 450px;
}

.album-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.album-img img {
  width: 50px;
  height: 50px;
}

.lyric p {
  width: 50%;
  height: 30%;
  overflow-y: scroll;
  margin: 50px auto;
  text-align: center;
}

p {
  margin: 0;
}

.list-sum {
  background-color: black;
}

caption, th {
  text-align: left;
  display: none;
}