<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Music">
    <select id="findKeywordMusic" parameterType="music" resultType="music">
        SELECT * FROM music
        WHERE 1=1
        
        <if test="genre != null">AND genre LIKE '%'|| #{genre} || '%'</if>
        <if test="situation != null">AND situation LIKE '%'|| #{situation} || '%'</if>
        <if test="feel != null">AND feel = #{feel}</if>
        <if test="weather != null">AND weather = #{weather}</if>
       
    </select>
</mapper>